.App 
{
  text-align: center;
  /* background-image: url("https://live.staticflickr.com/65535/52340255876_e55c4bedaa_k.jpg") ; */
  background-image: url("https://live.staticflickr.com/65535/52341043640_2827f989eb_k.jpg");
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.Player__container___f3NHe
{
  min-width: 100%;
  min-height: 100%;
  position: absolute !important;
}

.stay_fixed
{
  position: fixed;
  margin-top: 3%;
  padding-bottom: 1%;
  bottom: 0;
  left: 0;
  width: 100%;
}

.stay_sticky
{
  position: sticky;
  margin-top: 3%;
  padding-bottom: 1%;
  bottom: 0;
  left: 0;
  width: 100%;
}

body
{
  background-color: black;
}

#welcome_header
{
  color: #ededed;
  font-family: 'Rajdhani', sans-serif;
  font-size: 65px;
  margin-top: 90px;
}

li
{
  position: center;
  margin-top: 10px;
  color:antiquewhite;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#introduction
{
  color: #b3daf8;
  margin-bottom: 10px;
  margin-top: 160px;
  font-family: 'Amiri', serif;
  font-family: 'Rajdhani', sans-serif;
}

#search-container
{
  margin-left: 5px;
}

#search-input-home
{
  margin-top: 2px;
  width: 8%;
  border: 2px solid gold;
  border-radius: 5px;
  outline: none;
}

.PlayerSearched
{
  position: relative;
  margin-bottom: 30px;
}

.PlayerNotSearched
{
  position: fixed;
  margin-bottom: 30px;
  margin-top: 450px;
  margin-left: 200px;
  margin-right: 150px; 
}

#More
{
  margin-top: 8px;
}

#search_result_counters
{
  color: antiquewhite;
  font-family:'Times New Roman', Times, serif;
}

#buttonFetcher /* non in uso in questa versione */
{
  padding: 25px 50px 25px 50px ;
  margin-top: 35px;
  margin-bottom: 25px;
  border-style: outset;
  border-width: 15px 15px 15px 15px;
  border-color: firebrick;
  cursor: pointer;
}

#buttonMatches  /* non in uso in questa versione */
{
  padding: 25px 50px 25px 50px ;
  margin-top: 35px;
  margin-bottom: 25px;
  border-style: outset;
  border-width: 15px 15px 15px 15px;
  border-color: firebrick;
  cursor: pointer;
}

#recent_matches_table 
{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  color: blue;
  border: 10000px rounded;
  border-color: aqua;
  font-family: 'Times New Roman', Times, serif;
}

html, body
{
  height: 100%;
  width:100%;
}

#giafra_sniping_pg
{
  width: 54%;
  height: 54%;
}

hr
{
  color: silver;
}

.copyright
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-small;
  color: silver;
}

td
{
  color: antiquewhite;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px rounded aqua;
}
