.Profile
{
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stay_fixed
{
  position: fixed;
  margin-top: 3%;
  padding-bottom: 1%;
  bottom: 0;
  left: 0;
  width: 100%;
}

.stay_sticky
{
  position: sticky;
  margin-top: 3%;
  padding-bottom: 1%;
  bottom: 0;
  left: 0;
  width: 100%;
}

body
{
  background-color: black;
}

h1
{
  color: rgb(201, 18, 18);
  font-size: 65px;
  margin-top: 70px;
}

li
{
  position: center;
  margin-top: 10px;
  color:antiquewhite;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.PlayerSearched
{
  position: relative;
  margin-bottom: 30px;
}

.PlayerNotSearched
{
  position: fixed;
  margin-bottom: 30px;
  margin-top: 450px;
  margin-left: 200px;
  margin-right: 150px; 
}

#More
{
  margin-top: 10px;
}

#search_result_counters
{
  color: antiquewhite;
  font-family:'Times New Roman', Times, serif;
}

#buttonFetcher /* non in uso in questa versione */
{
  padding: 25px 50px 25px 50px ;
  margin-top: 35px;
  margin-bottom: 25px;
  border-style: outset;
  border-width: 15px 15px 15px 15px;
  border-color: firebrick;
  cursor: pointer;
}

#buttonMatches  /* non in uso in questa versione */
{
  padding: 25px 50px 25px 50px ;
  margin-top: 35px;
  margin-bottom: 25px;
  border-style: outset;
  border-width: 15px 15px 15px 15px;
  border-color: firebrick;
  cursor: pointer;
}

#recent_matches_table 
{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  color: blue;
  border: 10000px rounded;
  border-color: aqua;
  font-family: 'Times New Roman', Times, serif;
}

html, body
{
  height: 100%;
  width:100%;
}

#giafra_sniping_pg /* non in uso in questa versione */
{
  width: 54%;
  height: 54%;
}

#search-input-results
{
  margin-top: 5%;
  width: 8%;
  border: 2px solid gold;
  border-radius: 5px;
  outline: none;
} 

hr
{
  color: silver;
}

.copyright
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-small;
  color: silver;
}

td
{
  color: antiquewhite;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px rounded aqua;
}
